.container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin:15px;
    padding:10px;
    font-family: Georgia, serif;
}

.container-mid{
    border-color:black;
    border:solid;
    border-width:3px;
    display:flex;
    border-radius:10px;
    padding:20px;
    flex-direction:column;
    justify-content:start;
}

.fields{
    display:flex;
    flex-direction:column;
    justify-content:center;
    margin:10px;
}

.select{
    display:flex;
    flex-direction:column;
    justify-content:center;
    margin-left:10px;
}

.fields label{
    margin-top:2px;
    margin-bottom:1px;
}

.fields input{
    border-radius:15px;
    padding:8px;
    margin:3px;

}

.radio-buttons{
    margin-top:2px;
    margin-left:15px;
}

.button{
    background-color:black;
    color:white;
    margin:auto;
    padding:15px;
    border-radius:10px;
}

.button:hover{
    transform:scale(1.3);
}